

/* Big Container */
.cards-container{
    background-color: #ff9b8f; 
    padding: 0 10%;

}

/* Title + description */
.cards .title-location{
    color:White;
    align-self: flex-start;
}

.title-location h1{
    /* font-family: 'Fresca', sans-serif; */
    /* font-size: 2rem; */
    margin-bottom: 20px;
}

.title-location p{
  color: white;
}

/* cards container */
.cards {
    /* margin-top: 10px; */
    /* width: 80%; */
    margin: 0;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;  
  }



  @media screen and (min-width : 768px) {
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;  
        gap: 20px;
        margin: 0 ;
      }
      .cards .title-location{
        grid-column: 1 / -1;
    }
      .card {
        width: 10%;
      }

  }

  /* Cards */
  .card {
    border-radius: 20px;
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
  }
  .card-img {
    border-radius: 20px 20px 0 0;
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
  }

  .card-header{
    width: 100%;
  }

  #beppu{
    background-image: url("../assets/beppu.jpg");
  }
  #himeji{
    background-image: url("../assets/himeji.jpg");
  }
  #miyajima{
    background-image: url("../assets/miyajima.jpg");
  }
  #mont-fuji{
    background-image: url("../assets/montfuji.jpg");
  }
  #seiganto-ji{
    background-image: url("../assets/seigantoji.jpg");
  }
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    height: 100%;
  }
  .card-body h2 {
    margin: 10px 0px;
    text-align: center;
  }

  .card-body p{
    text-align: center;
    width: 90%;
  }

  .card-body h2{
    /* font-size: 2rem; */
    margin-top: 20px;
  }
  .card-button {
    margin: 30px;
    border: none;
    border-radius: 20px;
    height: 100px;
    background-color: #ff9b8f;
    width: 60%;
    color: white;
    font-size: 1.6rem;
  }